<!-- /views/admin/master.html -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/all.css" >
    <script defer src="js/all.js"></script>
{{/*    <script src="https://kit.fontawesome.com/79eb54d5b6.js"></script>*/}}
{{/*    <script src="https://kit.fontawesome.com/79eb54d5b6.js"></script>*/}}

    <title>{{.title}}</title>
    {{template "head" .}}
</head>
<body>

{{template "content" .}}
{{include "layouts/footer"}}
{{include "layouts/js"}}
{{template "js" .}}
</body>
</html>