{{define "head"}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
       body{ font-family: 'Montserrat', sans-serif;}
       .font-small12{
           font-size: 12px;
       }
    </style>
{{end}}

{{define "content"}}
    {{include "layouts/menu"}}
    <div class="container">
        <div class="row">
            <div class="col"><h5 class="float-left">Lista Geral de tipos</h5>
                <div class="spinner-grow spinner-grow-sm" role="status" id="spinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="thetable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script src="js/core.js"></script>
    <script>
        token = getCookie("token");
        console.log(token)
        if (token) {
            getlisttypes()
        }else{
            window.location.href="/"
        }
    </script>
{{end}}